h1 {
	width:1000px;
	border-radius:5px;
	height:40px;
	text-align: center;
	font-style:bold;
	text-transform:uppercase;
	color:white;
	background-color:black;
	margin:20px;
	font-size:25px;
	padding-top:10px;

}
.leadership {
	height: 400px;
	width: 900px;
	margin:auto;
}


#subheading {
	
	font-style: italic;
	
}

h4 {
	font-size:15px;
	
	
}
h2 {
	text-transform: uppercase;
	font-size: 20px;
	text-align:left;
	
}

p {
	color:black;
	line-height: 32px;
	font-family: 'Rale-way', sans-serif;
	font-size: 18px;
	font-weight:100;
}


body {
	font-family: 'Raleway',sans-serif;
}
h5 {
	text-align: left;
}

.right {
	
	float:right;
	height: 2000px;
	width: 600px;
	
	
}
.left {
	border:1px dotted black;
	border-radius:20px;
	float:left;
	display:block;
	height: 220px;
	width: 210px;
	padding:10px;
	margin-top:20px;
	text-decoration: none;

}


#navigation {
	text-align:center;
		
	
}
ul li a {
	text-decoration:none;
	font-size:10px;
}

#navigation a {
	text-decoration: none;
}


.all {

	border-top:1px dotted black;
	height:2000px;
	width:1000px;
	margin:auto;
	padding:20px 5px 5px 5px;
	border-radius:15px;

}